body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #907ad6;
  color: #616b74;
  padding: 0.5rem 0.5rem 0.5rem;
}

.container {
  width: 250px;
  background-color: #f2e8cf;
  border-radius: 1rem;
  padding: 1.5rem 1rem 2rem 1.5rem;
  position: relative;
}

.key-image {
  width: 100px;
  height: auto;
}

.right-side {
  flex: 2;
  padding: 5px;
  text-align: center;
}

.left-side {
  flex: 1;
  padding: 5px;
  text-align: center;
}

h1 {
  font-size: 17px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#userPassword {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  font-size: 14px;
}

.password-toggle {
  position: absolute;
  right: 1px;
  top: 55%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.password-toggle img {
  width: 20px;
  height: 20px;
}

button {
  background-color: #907ad6;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s;
}

.password-toggle img:hover {
  opacity: 0.7;
}

.check-password-btn:hover {
  background-color: #a695dc;
}

#feedbackMessage {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}

.suggestion-box {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 6px;
}

#suggestedPassword {
  border: none;
  background: transparent;
  font-size: 14px;
  color: #333;
  width: 80%;
  outline: none;
}

.copy-button {
  background-color: #6a994e;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.copy-button:hover {
  background-color: #a7c957;
}

.password-feedback-circle {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 9999;
}

.signature {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  color: #666;
  text-align: center;
  width: 100%;
}
